
        <div class="container-fluid">
            <form [formGroup]="bookForm" (submit)="postBook()">
                 <div class="row">
                         <div class="col-lg-4">
                             <div class="form-group">
                                 <label for="">Blog Title</label>
                                 <input type="text" class="form-control" formControlName="title">
                             </div>
                         </div>
                         <div class="col-lg-4">
                              <div class="form-group">
                                      <label for="">Blog Author</label>
                                      <input type="text" class="form-control" formControlName="author">
                                  </div>
                         </div>
                         <div class="col-lg-4">
                              <div class="form-group">
                                      <label for="">Image URL</label>
                                      <input type="text" class="form-control" formControlName="imageUrl">
                                  </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-lg-12">
                             <label for="">Description</label>
                             <textarea name="" id="" cols="30" rows="10" class="form-control" formControlName="Description"></textarea>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-lg-12">
                            <div class="form-group">
                                  <button class="btn btn-primary">Submit</button>
                            </div>
                         </div>
                     </div>
            </form>
     </div>
